# Temperature Analysis

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('../Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df.date = pd.to_datetime(df.date)

In [4]:
# Set the date column as the DataFrame index
df = df.set_index(df.date)

In [5]:
# Drop the date column
df = df.drop('date', axis='columns', errors='ignore')

In [6]:
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [38]:
from scipy import stats
import numpy as np

In [14]:
# Filter data for desired months
jun_df = df.filter(like='-06-', axis=0)

dec_df = df.filter(like='-12-', axis=0)

In [17]:
# Identify the average temperature for June
jun_df.tobs.agg('mean')

74.94411764705882

In [18]:
# Identify the average temperature for December
dec_df.tobs.agg('mean')

71.04152933421226

In [48]:
# Create collections of temperature data
l0 = list(jun_df.tobs)
l1 = list(dec_df.tobs)

# Normalize length of lists for t-test
l0 = l0[0:len(l0)-(len(l0) - len(l1))]

len(l0) == len(l1)

True

In [55]:
# Run paired t-test
statistic, pvalue = stats.ttest_rel(l0, l1, axis=0, nan_policy='propagate')
if pvalue <= 0.05 :
    print('Reject the Null Hypothesis')

Reject the Null Hypothesis

### Analysis

Alt: June's mean temperature observed is different than December's in Hawaii.  
Null: June's mean temperature observed is the same in December in Hawaii.

With a significance of 0.05, or 95% confidence, we can reject the null hypothesis that the mean temperature in hawaii is the same in June and in December. Thus we can say we should expect the temperatures to be lower on average in December than in June.